<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Подтверждение почты</title>
</head>
<body>
	<style>
		body{
			background: #07393C;
			color: #fff;
		}
	</style>
	<h1>Вам на почту отправлено сообщение с подтверждением вашего адреса почты</h1>
	<h2>Проверьте почту и перейдите по ссылке для подтверждения вашего адреса почты</h2>
    <h2><a href="{% url 'login' %}">Войти</a></h2>
</body>
</html>